.dimon-tank-col {
    padding: 10px;
}

.dimon-tanks {
    padding: 10px 0px;
}

.dimon-tanks .row {
    margin: 0px;
}

.images {
    padding-left: 10px;
    padding-right: 10px;
}

.tanks-heading {
    background-color: #e9ecef;
}
